<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="{{ metaDescription }} ">
  <title>Kyrylo Kuzmych`s portfolio</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<div class="wrapper">
    {% include "components/hero.njk" %}
    <main id="portfolio">
      {% include "components/my-videos.njk" %}
      {% include "components/my-artworks.njk" %}
      {% include "components/my-certificates.njk" %}
    </main>
    {% include "components/footer.njk" %}
    {% include "components/modal.njk" %}
</div>
<script src="js/script.js"></script>
</body>
</html>
