$root-font-size: 16px;

$font-stack: "montserratregular", "Montserrat", Helvetica, sans-serif;
$text-color: #4b4b4b;
$gray-bg: #f1f1f1;
$gray-bg-hover: #ccc;

$bp-sm: 600px;
$bp-md: 768px;
$bp-lg: 992px;
