<li class="artworks-item">
    <div class="preview artwork-preview"
         data-type="image"
         data-src="{{ baseUrl }}{{ artwork.file }}"
         data-alt="{{ artwork.alt }}">
        <img src="{{ baseUrl }}{{ artwork.file }}" alt="{{ artwork.alt }}" class="img-cover">
    </div>
</li>