<span class="btn-close" aria-label="Close">
<svg  xmlns="http://www.w3.org/2000/svg" width="67" height="67" viewBox="0 0 40.67 40.68" fill="currentColor">
        <path fill="currentColor" data-name="&lt;Line&gt;" class="cls-1" d="M1 1l19.33 19.33"/>
        <path fill="currentColor" data-name="&lt;Line&gt;" class="cls-1" d="M1 39.68l19.33-19.34"/>
        <path fill="currentColor" data-name="&lt;Line&gt;" class="cls-1" d="M39.67 39.68L20.34 20.35"/>
        <path fill="currentColor" data-name="&lt;Line&gt;" class="cls-1" d="M39.67 1L20.34 20.33"/>
</svg>
</span>