<li class="certificates-item">
    <div class="preview certificate-preview"
         data-type="image"
         data-src="{{ baseUrl }}{{ certificate.file }}"
         data-alt="{{ certificate.alt }}">
    >
        <img src="{{ baseUrl }}{{ certificate.file }}" alt="{{ certificate.alt }}" class="img-contain">
    </div>
</li>