<footer class="section contacts" id="contacts">
    <h2 class="section-title">Contacts</h2>
    <ul>
        <li><a href="email:kiriloroadster2003@gmail.com">E-mail: kiriloroadster2003@gmail.com</a></li>
        <li><a href="https://www.instagram.com/kiriloraider/?hl=ua">Instagram: @kiriloraider </a></li>
    </ul>
</footer>