<header class="section hero" id="hero">
    <div class="hero-image-container">
        <img src="{{ baseUrl }}/images/my_photo2.jpg" alt="Me">
    </div>
    <h1 class="hero-name">KYRYLO&nbsp;KUZMYCH</h1>
    <div class="hero-nav">
        <a href="#portfolio">Portfolio</a>
        <span>|</span>
        <a href="#certificates">Certificates</a>
        <span>|</span>
        <a href="#contacts">Contacts</a>
    </div>
</header>