<li class="video-list-item">
    <div class="video-container">
        <div class="preview video-preview"
             data-type="video"
             data-src="{{ baseUrl }}{{ video.file }}"
             data-alt="{{ video.title }}">
            <img src="{{ baseUrl }}{{ video.preview }}" alt="{{ video.title }}">
            <div class="video-preview-title-container">
                <h3 class="video-preview-title">{{ video.title }}</h3>
                {% include "components/btn-play.njk" %}
            </div>
        </div>
    </div>
</li>
